{% extends 'layouts/layout.twig' %}

{% block layout %}
<div class="row">
	<div class="span12">
	    {% block content %}{{ content|raw }}{% endblock content %}   
	</div>
</div>
{% endblock layout %}

